body {
	color: #F1F1F1;
	background-color: #66023C;
	width: 66vw;
	margin: 0 auto;
	font-family: Fira Sans, sans-serif;
}
  
a:link, a:visited {
	color: black;
	background-color: #F1F1F1;
	border-radius: 5px 10px;
	box-shadow: 1px 0px 3px 0px black, 1px 5px 1px 0px grey;
	margin: 3px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: #F1F1F1;
	background-color: #FF2C58;
	border-radius: 5px 10px;
	box-shadow: 1px 0px 3px 0px black, 1px 5px 1px 0px grey;
	margin: 3px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	}

a:active {
	color: black;
	background-color: #FFC0CB;
	border-radius: 5px 10px;
	box-shadow: 1px 3px 1px 0px grey;
	margin: 3px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}

a.baseButton:link, a.baseButton:visited {
	color: black;
	background-color: #F1F1F1;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a.baseButton:hover {
	color: #FFFFFF;
	background-color: #FF2C58;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	}

a.baseButton:active {
	color: black;
	background-color: #FFC0CB;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}

.baseDiv {
	position: fixed;
	bottom: 0px;
}

.baseBuffer{
	color: #66023C;
}


#searcher{
		
	}
	#newSearcher{
		padding: 5px;
	}
	.searchertextinput{
		margin: 0;
		padding: 10px 15px;
		border: 1px solid;
	}
	.searcherbutton {
		margin: 0;
		padding: 10px 15px;
		cursor: pointer;
		text-align: center;
		color: #ffffff;
		border: solid 1px;
		background: #F1F1F1;
		border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
	}
	.searcherbutton:hover {
		background: #FF2C58;
	}