body {
	color: #F1F1F1;
	background-color: #66023C;
	link-color: #000000;
	width: 66vw;
	margin: 0 auto;
	font-family: Fira Sans, sans-serif;
}
  
a:link, a:visited {
	color: black;
	background-color: #F1F1F1;
	border-radius: 5px 10px;
	box-shadow: 1px 0px 3px 0px black, 1px 5px 1px 0px grey;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover {
	color: #F1F1F1;
	background-color: #FF2C58;
	border-radius: 5px 10px;
	box-shadow: 1px 0px 3px 0px black, 1px 5px 1px 0px grey;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	}

a:active {
	color: black;
	background-color: #FFC0CB;
	border-radius: 5px 10px;
	box-shadow: 1px 3px 1px 0px grey;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}

a.baseButton:link, a.baseButton:visited {
	color: black;
	background-color: #F1F1F1;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a.baseButton:hover {
	color: #FFFFFF;
	background-color: #FF2C58;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	}

a.baseButton:active {
	color: black;
	background-color: #FFC0CB;
	border-radius: 5px 5px 0px 0px;
	padding: 5px 15px;
	text-align: center;
	font-weight: bold;
	text-decoration: underline;
	display: inline-block;
}

.baseDiv {
	position: fixed;
	bottom: 0px;
}